.bg-primary {
    background-color: #1f3852!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
a {
    color: #0a5aafb6;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    